body.bo{
    background: url(images/dacity.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    
}
hr.hrhr{
    width: 1900px;
    height: 2px;
    color: black;
    fill: black;
    background-color: black;
}
hr.hihi{
    width: 1900px;
    height: 2px;
    color: black;
    fill: black;
    background-color: black;
}
h1.title{
    color:blue;
    font: bolder;
    font-style: oblique;
    text-shadow: 5px 5px 10px;
    text-align: center;
    box-shadow: 2px 2px 5px;
    border-radius: 100%;
    background-color: salmon;;
    background-size: cover;
    background-repeat: no-repeat;
}
p.intro{
    font: bold;
    color: black;
    font-size: large;
    text-align: center;
    margin-top: 5cm;
    box-shadow: 2px 2px 5px;
    background-color: lightslategray;
    border-radius: 3px;
   
}
/*----- CARDS -----*/
main.maincontainer{
    background-color:none;
    width: 80%;
    height: 80%;
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 10cm;
}
section.card{
    width: 600px;
    height: 600px;
    box-shadow: 2px 2px 6px;
    border-radius: 5px;
    overflow: hidden;
}
img.imgcard{
    width: 100%;
    height: 50%;
}
div.cardinfo{
    background-color: whitesmoke;
    padding:1em;
    height:50%;
    font-style: oblique;
}
a.cardlink{
    display: inline-block;
    background-color: black;
    color: whitesmoke;
    padding: 1em 2em;
    width: 88%;
    text-align: center;
}
main.maincontainer2{
    background-color: none;
    width: 80%;
    height: 90%;
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 10cm;
}
section.card2{
    width: 600px;
    height: 550px;
    box-shadow: 2px 2px 6px;
    border-radius: 5px;
    overflow: hidden;
}
img.imgcard2{
    width: 100%;
    height: 50%;
}
div.cardinfo2{
    background-color: lightgrey;
    padding: 1em;
    height: 50%;
    font-style: oblique;
}
a.cardlink2{
    display: inline-block;
    background-color: black;
    color: whitesmoke;
    padding: 1em 2em;
    width: 88%;
    text-align: center;
}
/* ----- BREAKPOINT = 1700PX ----- */
@media only screen and (max-width:1700px){
    main.maincontainer{background-color: orange ;}
    section.card{width: 600px; margin: 2em;}
    img.imgcard{height:60%}

    main.maincontainer2{background-color: orange ;}
    section.card2{width: 600px; margin: 2em;}
    img.imgcard2{height:60%}
}
/* ----- BREAKPOINT = 1000PX ----- */
@media only screen and (max-width:1000px){
    main.maincontainer{background-color: lightskyblue ;}
    section.card{width: 400px; margin: 2em;}
    img.imgcard{height:60%}

    main.maincontainer2{background-color: lightskyblue ;}
    section.card2{width: 400px; margin: 2em;}
    img.imgcard2{height:60%}
}
a.top{
    Font: bold;
    font-size: medium;
    color: aqua;
    box-shadow: 3px 3px 5px;
    border-radius: 2px 2px 4px;
    background-color: salmon;
    padding: 1em 2em;
    text-align: center;
}
a.top:hover{
    transition-duration: 2000ms;
    transform-style: initial;
    transform-origin: 5%;
    transform-box: 2px 2px 2px;
    padding-left: 2cm;
    color: blue;
    background-color: brown;

}
a.next{
    Font: bold;
    font-size: medium;
    color: aqua;
    box-shadow: 3px 3px 5px;
    border-radius: 2px 2px 4px;
    background-color: salmon;
    padding: 1em 2em;
    text-align: center;
}
a.next:hover{
    transition-duration: 2000ms;
    transform-style: initial;
    transform-origin: 5%;
    transform-box: 2px 2px 2px;
    padding-left: 2cm;
    color: blue;
    background-color: brown;
}
h1.moreinfo{
    color: aquamarine;
    font: bolder;
    font-style: oblique;
    text-shadow: 5px 5px 10px;
    text-align: center;
    box-shadow: 2px 2px 5px;
    border-radius: 5px;
    background-color: salmon;
}
main.maincontainer20{
    background-color: none;
    width: 80%;
    height: 80%;
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 10cm;
}
section.card20{
    width: 600px;
    height: 550px;
    box-shadow: 2px 2px 6px;
    border-radius: 5px;
    overflow: hidden;
}
img.imgcard20{
    width: 100%;
    height: 50%;
}
div.cardinfo20{
    background-color: lightgrey;
    padding: 1em;
    height: 50%;
    font-style: oblique;
}    

p.par{
    font-size:medium;
    font-weight: bold;
    color: black;
    background-color: lightgray;
    text-align:justify
}
/* ----- BREAKPOINT = 1700PX ----- */
@media only screen and (max-width:1700px){
    main.maincontainer{background-color: orange ;}
    section.card{width: 600px; margin: 2em;}
    img.imgcard{height:60%}

    main.maincontainer2{background-color: orange ;}
    section.card2{width: 600px; margin: 2em;}
    img.imgcard2{height:60%}

    main.maincontainer20{background-color: orange ;}
    section.card20{width: 600px; margin: 2em;}
    img.imgcard20{height:60%}
}
/* ----- BREAKPOINT = 1000PX ----- */
@media only screen and (max-width:1000px){
    main.maincontainer{background-color: lightskyblue ;}
    section.card{width: 400px; margin: 2em;}
    img.imgcard{height:60%}

    main.maincontainer2{background-color: lightskyblue ;}
    section.card2{width: 400px; margin: 2em;}
    img.imgcard2{height:60%}

    main.maincontainer20{background-color: lightskyblue ;}
    section.card20{width: 400px; margin: 2em;}
    img.imgcard20{height:60%;}

}   
main.maincontainer200{
    background-color: none;
    width: 80%;
    height: 90%;
    margin: 10%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 10cm;
}
section.card200{
    width: 700px;
    height: 650px;
    box-shadow: 2px 2px 6px;
    border-radius: 5px;
    overflow: hidden;
}
img.imgcard200{
    width: 100%;
    height: 50%;
}
div.cardinfo200{
    background-color: lightgrey;
    padding: 1em;
    height: 50%;
    font-style: oblique;
    font: bold;   
}
a.cardlink200{
    display: inline-block;
    background-color: black;
    color: whitesmoke;
    padding: 1em 2em;
    width: 88%;
    text-align: center;
}
/* ----- BREAKPOINT = 1700PX ----- */
@media only screen and (max-width:1700px){
    main.maincontainer{background-color: orange ;}
    section.card{width: 600px; margin: 2em;}
    img.imgcard{height:60%}

    main.maincontainer2{background-color: orange ;}
    section.card2{width: 600px; margin: 2em;}
    img.imgcard2{height:60%}

    main.maincontainer200{background-color: orange ;}
    section.card200{width: 600px; margin: 2em;}
    img.imgcard200{height:60%}
}
/* ----- BREAKPOINT = 1000PX ----- */
@media only screen and (max-width:1000px){
    main.maincontainer{background-color: lightskyblue ;}
    section.card{width: 400px; margin: 2em;}
    img.imgcard{height:60%}

    main.maincontainer2{background-color: lightskyblue ;}
    section.card2{width: 400px; margin: 2em;}
    img.imgcard2{height:60%}

    main.maincontainer200{background-color: lightskyblue ;}
    section.card200{width: 400px; margin: 2em;}
    img.imgcard200{height:60%;}
}
body.bodi{
    background: url(images/citi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
table{
        border: 1px solid;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       width: 50%;
       font: bold;
       background-color: white;
       
}
 th{
    border: 1px solid;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       width: 50%;
       font: bold;
       background-color: lightgrey;
}
td{
    border: 1px solid;
       margin-left: auto;
       margin-right: auto;
       text-align: center;
       width: 50%;
       font: bold;
       background-color: lightblue;
}
a.ez{
    Font: bold;
    font-size: medium;
    color: slateblue;
    box-shadow: 3px 3px 5px;
    border-radius: 2px 2px 4px;
    background-color: lightseagreen;
    padding: 1em 2em;
    text-align: center;
}
a.ez{
    Font: bold;
    font-size: medium;
    color: slateblue;
    box-shadow: 3px 3px 5px;
    border-radius: 2px 2px 4px;
    background-color: lightseagreen;
    padding: 1em 2em;
    text-align: center;
}a.ez:hover {
    transition-duration: 2000ms;
    transform-style: initial;
    transform-origin: 5%;
    transform-box: 2px 2px 2px;
    padding-left: 2cm;
    color: rgb(255, 94, 0);
    background-color: rgb(209, 169, 38);
}
h1.titl{
    color: darkmagenta;
    font: bolder;
    font-style: oblique;
    text-shadow: 5px 5px 10px;
    text-align: center;
    box-shadow: 2px 2px 5px;
    border-radius: 100%;
    background-color: lightskyblue;
}
